* {
    box-sizing: border-box;
}

li {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 1439px;

}

.gallery-image {
    width: 360px;
    height: 200px;
    cursor: pointer;

}

.gallery-image:hover {
    /* transition: linear;
    transition-duration: 100ms; 
    transform: scale(2); */
}